/* * {
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; } */

html, body {
  /* overflow: hidden; */
  /* height: 100%; */
  background-color: #000;
  margin: 0;
}

#xx {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #000;
  padding: 5px;
  overflow: auto;
  max-height: 100px;
  font-size: 10px;
  font-family: sans-serif;
  /* font-size: 30px; */
}


.image-list {
  display: flex;
  flex-wrap: wrap;
}

@keyframes loading {
  100% {
    transform: rotate(1turn)
  }
}

#p5_loading {
  display: none;
  left: 50%;
  top: 50%;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  text-indent: -5000px;
  font-size: 0;

  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #fff 94%, #0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%, #fff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: loading 1s infinite linear;
}

h1 {
  font-weight: normal;
  font-size: 2em;
}

.qr-code {
  background: url('image/qrcode.jpg') no-repeat left top;
  background-size: contain;
  width: 100px;
  height: 100px;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 99;
}
